
*.asv
*.asv
*.asv
*.txt
*.melts
*.numbers
*.csv
Fe_melting/cal/Javoy2010/lowerphsloop2/BSE.run
*.run
*.fig
Fe_melting/cal/EC_Daniels_Kuil/lower_phsloop_2/alphameltsdate
Fe_melting/cal/McDonough_1995_2/alphameltsdate
src/radioactive_decay.m
src/radioactive_decay.m
src/radioactive_decay.m
*.png
usr/compiles_Al.m
